@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f6f9fe;
  --white-color: #ffffff;
  --primary-color: #2e38ff;
  --secondary-color: #14c0ff;
}

@font-face {
  font-family: courierNew;
  src: url('/src/assets/fonts/alfont_com_AlFont_com_cour.ttf');
}

body {
  /* font-family: "Teshrin AR+LT Bold"; */
  /* font-family: "Teshrin AR+LT Regular"; */
  font-family: "Teshrin AR+LT Medium";
}

.container {
  width: 90%;
}

@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  :root {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 16px;
  }
}

